@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");

body {
  background: #2a363f;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

form {
  max-width: 300px;
  width: 300px;
}

.textfield {
  padding-bottom: 20px;
}

.textfield > input {
  background: #323e47;
  border: solid transparent 2px;
  transition: all 0.3s ease;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
}

input::placeholder {
  color: #727b85;
}

input:hover {
  background: #42525e;
  border: solid #6ed9a0 2px;
}

input:focus {
  background: #2a363f;
  border: solid #6ed9a0 2px;
  outline: none;
}

.btn-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-login > button {
  padding: 8px;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  background: #6ed9a0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 2px;
}

button:active {
  background: #5a6168;
}

.btn-login > p {
  color: #5a6168;
  font-weight: bold;
  cursor: pointer;
}

p:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  min-width: 300px;
}

/* .logo::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 300px;
  background: #35414a;
  right: 1rem;
} */

img {
  max-width: 100%;
  display: block;
  width: 100%;
}

.separador {
  width: 2px;
  height: 300px;
  background: #35414a;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .logo {
    width: 100px;
    padding: 100px;
  }
  /* .logo::before {
    width: 300px;
    height: 2px;
    right: auto;
    bottom: 50px;
  } */
}
